@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@



<section class="section-1">
    <div class="section-1-img"></div>
    <div class="section-content container">
        <div class="row">
            <div class="col-xl-6   col-12 card-section-1 ">
                <h1>Lezzetin Yeni Tanımı: Burger App ile Tadını Keşfedin!</h1>
                <p>
                    Artık burger tutkunları için bir arayüz var! Burger App, en lezzetli burgerleri bulmanın yanı sıra yeni favoriler keşfetmeniz için size rehberlik ediyor. Denemeye hazır mısınız?
                </p>
            </div>
        </div>
    </div>
</section>

@* <section class="section-1">
    <div class=" section-1-img "></div>
    <div id="carouselExampleIndicators" class="carousel slide ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item  active">
                <img src="https://i.pinimg.com/originals/65/43/70/654370b925e03d919021c798a5a01b0f.png" style="background-color:transparent" alt="...">
                <div>
                    <h1>Guzel hamburgerleri test edip guzel vakit gecirebilirsiniz.</h1>

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/65/43/70/654370b925e03d919021c798a5a01b0f.png" alt="...">
                <div>
                    <h1>Guzel hamburgerleri test edip guzel vakit gecirebilirsiniz.</h1>

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/65/43/70/654370b925e03d919021c798a5a01b0f.png" alt="...">
                <div>
                    <h1>Guzel hamburgerleri test edip guzel vakit gecirebilirsiniz.</h1>

                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section>
    <div>loras;'lfjkas;'lfjkas;'fjal;kfjal;kfjakpsf'</div>
</section> *@