html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

tr {
    vertical-align: middle;
}

.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(4px);
}

    .custom-header ul li a {
        color: white !important;
        text-decoration: underline;
    }

        .custom-header ul li a:hover {
            color: #ffcd38 !important;
        }

        .custom-header ul li a.active {
            color: #ffcd38 !important;
        }

.section-1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-1-img {
    background-image: url(https://cdn.muhiku.com/wp-content/uploads/2023/12/08971dcdd2d05154fa713de878cba170-all_all_big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0,0);
}

.section-admin-img {
    background-image: url(../img/section-1-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0,0);
}

.table-responsive-container {
    position: relative;
    top: 75px;
    padding: 1rem;
    backdrop-filter: blur(15px);
}

.section-content {
    position: relative;
    top: 35%;
    color: white;
}

.section-register-confirmation {
    height: 100vh;
    margin-top: 73px
}

.card-section-1 {
    padding: 1rem;
    border: 2px dotted #a7a7a7;
    backdrop-filter: blur(4px);
}

    .card-section-1 h1 {
        text-align: center;
        color: #ffcd38;
    }

    .card-section-1 p {
        text-align: center;
        color: antiquewhite;
    }

.card-section-1 {
    padding: 1rem;
    border: 2px dotted #a7a7a7;
    backdrop-filter: blur(4px);
}

.register-img {
    background-image: url(https://images.pexels.com/photos/19247585/pexels-photo-19247585.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5rem 2rem;
    width: 35%;
    margin: auto;
    backdrop-filter: blur(5px);
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

.icon{
    display:inline-block;
    width:70px;
    height:85px;
    background-repeat:no-repeat;
}
.icon.sepet{
    background-image:url(../svg/sepet.svg)
}
    .icon.catal-bicak {
        background-image: url(../svg/catal-bicak.svg);
        width: 18px;
        height: 18px;
        fill: currentColor;
        color: rgb(93, 56, 192);
    }
    .icon.delete {
        background-image: url(../svg/delete.svg);
        width: 18px;
        height: 18px;
        fill: currentColor;
    }
    .icon.arti {
        background-image: url(../svg/arti.svg);
        width: 10px;
        height: 12px;
        fill: currentColor;
    }
    .icon.eksi {
        background-image: url(../svg/eksi.svg);
        width: 10px;
        height: 12px;
        fill: currentColor;
    }


@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }

    .register-form {
        width: 70%;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
    .carousel.slide img {
        width: 200px;
        float: right;
    }
}
