@model IEnumerable<BurgerApp.PL.Areas.Admin.Models.MenuViewModel.OrderDetailViewModel>

<div class="container">
    <h2>Order Details List</h2>
    <button onclick="location.href='@Url.Action("Create", "OrderDetails")'" class="btn btn-primary">Add New Order Detail</button>
    <div class="mt-3">
        <div id="orderDetailTable"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            LoadOrderDetailTable();
        });

        function LoadOrderDetailTable() {
            $.ajax({
                url: '@Url.Action("GetTableList", "OrderDetails")',
                success: function (result) {
                    $('#orderDetailTable').html(result);
                }
            });
        }
    </script>
}