@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="section-register-confirmation containerz`">
    <h1>@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

</section>
