@using BurgerApp.PL.ViewModels






<section class="section-1">
    <div class="section-admin-img"></div>
    <div class="table-responsive-container container">
        <div class="table-responsive"> </div>
    </div>
</section>


<div class="modal fade" id="btn-edit-orderdetail" tabindex="-1" aria-labelledby="editOrderDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderDetailModalLabel">OrderDetail Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="orderdetail-detail">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="btn-edit-orderdetail" tabindex="-1" aria-labelledby="editOrderDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderDetailModalLabel">OrderDetail Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="orderdetail-edit">
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="btn-delete-orderdetail" tabindex="-1" aria-labelledby="deleteOrderDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteOrderDetailModalLabel">OrderDetail Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="orderdetail-delete">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(() => {
            LoadTableList();
        });

        function LoadTableList() {
            $.ajax({
                url: '@Url.Action("GetTableList", "OrderDetail")',
                method: 'GET',
                beforeSend: () => {
                    console.log("Yükleniyor...")
                },
                success: (data) => {
                    $(".table-responsive").html(data);
                    BindButton();
                },
                error: (xhr, status, error) => {
                    console.error("Liste yüklenirken hata oluştu: ", error);
                }
            });
        }

        function BindButton() {
            $(document).on("click", ".btn-edit-orderdetail", function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: '@Url.Action("Edit", "OrderDetail")/' + id,
                    method: "GET",
                    success: (data) => {
                        $("#orderdetail-edit").html(data);
                        $('#btn-edit-orderdetail').modal('show');
                    },
                    error: (xhr) => {
                        console.error("Düzenleme modalı yüklenirken hata oluştu: ", xhr.responseText);
                    }
                });
            });

            $(document).on("click", ".btn-delete-orderdetail", function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: '@Url.Action("DeleteConfirmation", "OrderDetail")/' + id,
                    method: "GET",
                    success: (data) => {
                        $("#orderdetail-delete").html(data);
                        $('#btn-delete-orderdetail').modal('show');
                    },
                    error: (xhr) => {
                        console.error("Silme modalı yüklenirken hata oluştu: ", xhr.responseText);
                    }
                });
            });
        }
    </script>
}