@using BurgerApp.PL.Areas.Admin.Models.MenuViewModel
@using BurgerApp.PL.CommonFunctions


<section class="section-1">
    <div class="section-admin-img"></div>
    <div class="table-responsive-container container">
        <div class="table-responsive"> </div>
    </div>
</section>
<!-- Edit-Modal -->
<div class="modal fade" id="btn-edit-burger" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Burger Duzenle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="burger-edit">
            </div>
        </div>
    </div>
</div>
<!-- Delete-Modal -->
<div class="modal fade" id="btn-delete-burger" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Burger Sil</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="burger-delete">
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(() => {
            $.ajax({
                url: `/admin/burger/GetTableList`,
                method: 'GET',
                beforeSend: () => {
                    console.log("bekleyin")
                },
                success: (data) => {
                    $(".table-responsive").html(data);
                    BindButton()
                }
            })
        })
        function BindButton() {
            $(".btn-burger-edit").click((e) => {
                var id = e.target.id;
                console.log(id)
                $.ajax({
                    url: `/admin/burger/Edit/${id}`,
                    method: "GET",
                    success: (data) => {
                        $("#burger-edit").html(data);
                    },
                    error: (xhr) => {
                        console.log(xhr.status)
                    }
                })
            })

            $(".btn-burger-delete").click((e) => {
                var id = e.target.id;
                console.log(id)
                $.ajax({
                    url: `/admin/burger/Delete/${id}`,
                    method: "GET",
                    success: (data) => {
                        $("#burger-delete").html(data);
                    },
                    error: (xhr) => {
                        console.log(xhr.status)
                    }
                })
            })
        }
    </script>
}

