@model List<BurgerDTO>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ad</th>
            </tr>
        </thead>
        <tbody>
@*             @foreach (var burger in Model)
            {
                <tr>
                    <td>@burger.Name</td>
                </tr>
            } *@
        </tbody>
    </table>

</div>
