@model IEnumerable<BurgerApp.PL.Areas.Admin.Models.MenuViewModel.DrinkViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Fiyat</th>
            <th>Boyut</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@String.Format("{0:0.00}", item.Price)</td>
                <td>@item.Size.ToString()</td>
                <td>
                    <a href="/Admin/Drink/Edit/@item.Id" class="editLink btn btn-info">Düzenle</a>
                    <a href="/Admin/Drink/Details/@item.Id" class="detailsLink btn btn-warning">Detaylar</a>
                    <button type="button" class="deleteLink btn btn-danger" data-id="@item.Id">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>
