@model DrinkDTO

@{
    ViewData["Title"] = "İçecek Sil";
}

<h2>@ViewData["Title"]</h2>

<h3>İçeceği silmek istediğinizden emin misiniz?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">İptal</a>
    </div>
</form>